<ion-header class="ion-no-border">
    <ion-toolbar>
        <div class="headerDiv">
            <ion-label class="welcomeLabel">Hello Dhinu</ion-label>
            <ion-label class="titleLabel">Stay Fit & Healthy</ion-label>
        </div>
        <ion-buttons slot="end" style="margin-right: 20px; position: relative;">
            <div style="width: 8px; height: 8px; border-radius: 50%; background-color: red; position: absolute; right: 2px;z-index: 999; top: 3px"></div>
            <ion-icon name="notifications-outline" style="color: black; font-size: 25px;"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>