<section class="additionalTrainingSection">
    <img [src]="data.image" class="image">
    <div class="detailDiv">
        <ion-label class="traingName">Deep Amrap Burner</ion-label>
        <div class="row2">
            <ion-icon name="flame" class="icon"></ion-icon>
            <ion-label class="iconLabel">125 kcal</ion-label>
            <ion-icon name="time" class="icon"></ion-icon>
            <ion-label class="iconLabel">15min</ion-label>
        </div>
        <ion-label class="row3Label">Beginner - Full body</ion-label>
    </div>
</section>