<ion-card class="trendCard">
    <img src="../../../assets/images/img_6.jpg" class="bgImage">

    <div class="cardHeaderContainer">
        <div class="chip">
            <ion-label>Beginner</ion-label>
        </div>
        <div class="chip">
            <ion-label>Full Body</ion-label>
        </div>
    </div>


    <div class="cardFooter">
        <div class="cardFooterContainer">
            <section class="leftFootSection">
                <ion-label class="footTitle">Push Your Limit</ion-label>
                <div class="dataIndicationDiv">
                    <div class="indicator">
                        <ion-icon name="flame"></ion-icon>
                        <ion-label>360 kcal</ion-label>
                    </div>
                    <div class="indicator">
                        <ion-icon name="time"></ion-icon>
                        <ion-label>1h 25min</ion-label>
                    </div>
                </div>
            </section>
            <section class="rightFootSection">
                <div class="ratingDiv">
                    <ion-icon name="star" class="ratingIcon"></ion-icon>
                    <ion-label>4.8</ion-label>
                </div>
            </section>
        </div>
    </div>
</ion-card>